/* Center the button and h1 horizontally and vertically */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Add spacing between the button and h1 */
h1 {
  margin-bottom: 190px;
}

button {
  margin-top: 150px;
}

/* Additional styling for the button */
button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p
{
  
    font-size: 40px;


}
